In [1]:
from significance_tests import compare_results
import pandas as pd

In [2]:

# Data from the provided table for Deezer (alpha_word, alpha_ent)
paper_results_deezer = {
    (20, 0.2, 0.3): 50.2, (50, 0.2, 0.3): 48.9, (100, 0.2, 0.3): 51.4, (200, 0.2, 0.3): 48.4,
    (20, 0.2, 0.4): 53.1, (50, 0.2, 0.4): 49.2, (100, 0.2, 0.4): 50.8, (200, 0.2, 0.4): 50.6,
    (20, 0.3, 0.3): 48.5, (50, 0.3, 0.3): 52.1, (100, 0.3, 0.3): 51.5, (200, 0.3, 0.3): 49.8,
    (20, 0.3, 0.4): 53.3, (50, 0.3, 0.4): 50.9, (100, 0.3, 0.4): 55.3, (200, 0.3, 0.4): 51.6,
    (20, 0.4, 0.3): 53.2, (50, 0.4, 0.3): 51.5, (100, 0.4, 0.3): 52.2, (200, 0.4, 0.3): 50.0,
    (20, 0.4, 0.4): 56.4, (50, 0.4, 0.4): 52.6, (100, 0.4, 0.4): 48.1, (200, 0.4, 0.4): 49.0,
    (20, 0.5, 0.3): 52.5, (50, 0.5, 0.3): 56.3, (100, 0.5, 0.3): 50.8, (200, 0.5, 0.3): 55.4,
    (20, 0.5, 0.4): 56.3, (50, 0.5, 0.4): 60.6, (100, 0.5, 0.4): 54.9, (200, 0.5, 0.4): 53.3
}

paper_results_itunes = {
    (20, 0.2, 0.3): 49.3, (50, 0.2, 0.3): 43.3, (100, 0.2, 0.3): 49.5, (200, 0.2, 0.3): 47.0,
    (20, 0.2, 0.4): 47.2, (50, 0.2, 0.4): 49.5, (100, 0.2, 0.4): 50.7, (200, 0.2, 0.4): 51.3,
    (20, 0.3, 0.3): 50.3, (50, 0.3, 0.3): 52.5, (100, 0.3, 0.3): 49.0, (200, 0.3, 0.3): 48.2,
    (20, 0.3, 0.4): 52.8, (50, 0.3, 0.4): 49.5, (100, 0.3, 0.4): 50.6, (200, 0.3, 0.4): 51.1,
    (20, 0.4, 0.3): 52.4, (50, 0.4, 0.3): 51.9, (100, 0.4, 0.3): 49.2, (200, 0.4, 0.3): 47.4,
    (20, 0.4, 0.4): 50.6, (50, 0.4, 0.4): 46.7, (100, 0.4, 0.4): 49.0, (200, 0.4, 0.4): 46.1,
    (20, 0.5, 0.3): 50.5, (50, 0.5, 0.3): 52.0, (100, 0.5, 0.3): 48.7, (200, 0.5, 0.3): 46.1
}

mapping = {
    'dataset': 'Dataset',
    'topics': 'Topics',
    "para1": "(NEiCE,0.2, 0.3)",
    "para2": "(NEiCE,0.2, 0.4)",
    "para3": "(NEiCE,0.3, 0.3)",
    "para4": "(NEiCE,0.3, 0.4)",
    "para5": "(NEiCE,0.4, 0.3)",
    "para6": "(NEiCE,0.4, 0.4)",
    "para7": "(NEiCE,0.5, 0.3)",
    "para8": "(NEiCE,0.5, 0.4)"
}

In [3]:
#Load and preprocess the results
results = pd.read_csv('results.csv')
results = results.rename(columns=mapping) 
means = results.groupby(["Topics","Dataset"]).mean()
sds = results.groupby(["Topics","Dataset"]).std()
means

                (NEiCE,0.2, 0.3)  (NEiCE,0.2, 0.4)  (NEiCE,0.3, 0.3)  \
Topics Dataset
20     deezer          52.130000         51.470000         51.240000
       iTunes          50.120000         51.793333         52.536667
50     deezer          51.373333         52.866667         51.710667
       iTunes          50.373333         51.666667         51.656667
100    deezer          51.886667         49.726667         50.746667
       iTunes          49.350000         52.080000         50.410000
200    deezer          51.820000         48.156667         51.716667
       iTunes          49.340000         50.656667         51.616667

                (NEiCE,0.3, 0.4)  (NEiCE,0.4, 0.3)  (NEiCE,0.4, 0.4)  \
Topics Dataset
20     deezer          51.613333         54.090000         52.680000
       iTunes          52.430000         51.420000         52.353333
50     deezer          52.133333         51.096667         52.700000
       iTunes          53.506667         52.556667         50.633333
100    deezer          50.260000         54.580000         51.160000
       iTunes          50.196667         50.750000         50.163333
200    deezer          49.500000         51.243333         51.043333
       iTunes          49.603333         50.250000         50.406667

                (NEiCE,0.5, 0.3)  (NEiCE,0.5, 0.4)
Topics Dataset
20     deezer          53.050000         51.043333
       iTunes          48.786667         50.523333
50     deezer          50.666667         52.500000
       iTunes          50.866667         51.013333
100    deezer          49.973333         52.286667
       iTunes          50.940000         50.980000
200    deezer          50.591667         51.926667
       iTunes          48.840000         52.283333

In [4]:

#Get the results of the paper
paper = pd.read_csv('paper_results.csv')
paper = paper.rename(columns=mapping)
paper = paper.groupby(["Topics", "Dataset"]).sum()
paper

                (NEiCE,0.2, 0.3)  (NEiCE,0.2, 0.4)  (NEiCE,0.3, 0.3)  \
Topics Dataset
20     deezer               50.2              53.1              48.5
       iTunes               49.3              47.2              50.3
50     deezer               48.9              49.2              52.1
       iTunes               43.3              49.5              52.5
100    deezer               51.4              50.8              51.5
       iTunes               49.5              50.7              49.0
200    deezer               48.4              50.6              49.8
       iTunes               47.0              51.3              48.2

                (NEiCE,0.3, 0.4)  (NEiCE,0.4, 0.3)  (NEiCE,0.4, 0.4)  \
Topics Dataset
20     deezer               53.3              53.2              56.4
       iTunes               52.5              52.8              52.4
50     deezer               50.9              51.5              52.6
       iTunes               49.5              50.1              51.9
100    deezer               55.3              52.2              48.1
       iTunes               49.2              50.6              49.9
200    deezer               51.6              50.0              49.0
       iTunes               49.8              51.1              47.4

                (NEiCE,0.5, 0.3)  (NEiCE,0.5, 0.4)
Topics Dataset
20     deezer               52.5              56.3
       iTunes               50.6              50.5
50     deezer               56.3              60.6
       iTunes               46.5              52.0
100    deezer               50.8              54.9
       iTunes               46.7              48.7
200    deezer               55.4              53.3
       iTunes               49.0              46.1

In [5]:
#Compute t-statistics
t_test = (means-paper)/sds
t_test

                (NEiCE,0.2, 0.3)  (NEiCE,0.2, 0.4)  (NEiCE,0.3, 0.3)  \
Topics Dataset
20     deezer           1.856885         -0.424824          2.406752
       iTunes           0.685407          1.120961          1.466475
50     deezer           1.807650          0.774494         -1.377006
       iTunes           4.006456          0.609825         -0.351559
100    deezer           0.296361         -0.484190         -0.748841
       iTunes          -0.090999          2.956313          1.027993
200    deezer           1.338677         -1.087309          2.479716
       iTunes           2.685755         -0.234562          1.954382

                (NEiCE,0.3, 0.4)  (NEiCE,0.4, 0.3)  (NEiCE,0.4, 0.4)  \
Topics Dataset
20     deezer          -0.433327          0.299473         -1.055988
       iTunes          -0.013382         -1.829139         -0.012278
50     deezer           0.368686         -0.571525          0.028502
       iTunes           1.625528          0.677495         -0.291181
100    deezer          -2.173686          0.805545          1.568674
       iTunes           0.478623          0.254457          0.124664
200    deezer          -1.179496          0.859943          1.114724
       iTunes          -0.072974         -0.864159          1.049178

                (NEiCE,0.5, 0.3)  (NEiCE,0.5, 0.4)
Topics Dataset
20     deezer           0.214134         -1.425276
       iTunes          -1.538197          0.005069
50     deezer          -2.499330         -2.038421
       iTunes           1.627108         -0.194483
100    deezer          -0.695062         -0.669898
       iTunes           0.998834          0.454522
200    deezer          -2.449295         -0.358484
       iTunes          -0.259691          1.252929

In [6]:
#Where the t-statistics is greater than 1.96 - the difference is significant?
t_value = 2.92 # df = 2, alpha = 0.05 / look slides about statistics page 21
significant = abs(t_test) > t_value
significant
#only two results is significantly different from the paper results

                (NEiCE,0.2, 0.3)  (NEiCE,0.2, 0.4)  (NEiCE,0.3, 0.3)  \
Topics Dataset
20     deezer              False             False             False
       iTunes              False             False             False
50     deezer              False             False             False
       iTunes               True             False             False
100    deezer              False             False             False
       iTunes              False              True             False
200    deezer              False             False             False
       iTunes              False             False             False

                (NEiCE,0.3, 0.4)  (NEiCE,0.4, 0.3)  (NEiCE,0.4, 0.4)  \
Topics Dataset
20     deezer              False             False             False
       iTunes              False             False             False
50     deezer              False             False             False
       iTunes              False             False             False
100    deezer              False             False             False
       iTunes              False             False             False
200    deezer              False             False             False
       iTunes              False             False             False

                (NEiCE,0.5, 0.3)  (NEiCE,0.5, 0.4)
Topics Dataset
20     deezer              False             False
       iTunes              False             False
50     deezer              False             False
       iTunes              False             False
100    deezer              False             False
       iTunes              False             False
200    deezer              False             False
       iTunes              False             False